.form_wrapper {
  width: 40%;
  margin: auto;
}

h1 {
  font-size: 2em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 40%;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }

  .footer {
    position: relative;
    width: 100%;
  }

  .form_wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
