/* CSS Document */
@font-face {
  font-family: "MilkyHoney";
  src: url("../fonts/Milky_Honey.otf");
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333333;
  font-size: 20px;
  font-family: MilkyHoney;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 1.2em;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-align: center;
  color: #ef273e;
  text-decoration: none;
}
a:hover {
  color: #cd1600;
}
a:active {
  color: #ef273e;
}

.btn {
  color: black;
  position: relative;
  top: 5px;
  padding: 0.7em 1.7em;
  font-size: 0.8em;
  border-radius: 50px;
  margin: 0 5px;
  background-color: white;
  box-shadow: 0px 0px 0px #1a1a1a;
  transition: all 250ms ease-in-out;
  font-family: MilkyHoney;
}

.btn:hover {
  top: 0px;
  transform: translate(5px, 0);
  color: white;
  background: #ef273e;
  box-shadow: -5px 5px 0px #1a1a1a;
  border: none;
  cursor: pointer;
}

.wrapper {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 128px - 54.59px);
}

#left {
  background-color: #ef273e22;
  border-radius: 30px;
  padding: 1em 2em;
  width: 55%;
  margin: auto 0;
}

#left p {
  line-height: 2em;
}

#right {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 30%;
}

#right a {
  margin: 10px 0;
}

#right a i {
  margin-right: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.6em;
  margin-top: 2em;
  padding: 1em 0em;
  font-style: italic;
  text-align: center;
  font-weight: light;
  color: black;
  background-color: white;
  border-top: 0.5px solid lightgray;
}

.footer p {
  margin: 0;
}

@media only screen and (max-width: 1286px) {
  .wrapper {
    width: 100%;
  }

  #main {
    flex-direction: column !important;
  }

  #left {
    background-color: #ef273e22;
    border-radius: 30px;
    padding: 1em 2em;
    width: 100%;
    margin: auto 0;
  }

  #right {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }

  .wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .footer {
    margin-top: 2em;
    font-size: 1em;
  }
}
